{ 
    "ConsumerKey" : "XXXX",
    "ConsumerSecret" : "XXXX",
    "AccessToken" : "XXXX",
    "AccessSecret" : "XXXX",
    "TrackingKeywords": [ "the", "be", "to", "of", "and", "in", "that", "have", "I", "it", "for", "not" ],
    "CorpusPath": "syllable/cmudict.dict",
    "OutputPath": "output/",
    "ProcessWorkerCount" : 500
}
